<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="/favicon.ico">
  <%= csrf_meta_tags %>

  <title>Railstastic</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <i class="fa fa-diamond d-inline-block align-top" style="font-size:30px" aria-hidden="true"></i>
        Railstastic
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-left">
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <% unless user_signed_in? %>
          <li class="nav-item"><%= link_to new_user_registration_path, class: "nav-link" do %><%= fw_icon 'user-plus' %> Sign Up<% end %></li>
          <li class="nav-item"><%= link_to new_user_session_path, class: "nav-link" do %><%= fw_icon 'sign-in' %> Login<% end %></li>
          <% else %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Other Pages
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="full-width.html">Full Width Page</a>
              <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>
              <a class="dropdown-item" href="faq.html">FAQ</a>
              <a class="dropdown-item" href="404.html">404</a>
              <a class="dropdown-item" href="pricing.html">Pricing Table</a>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <main role="main">
    <%= yield %>
  </main>

  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="https://github.com/b1nary/railstastic">Railstastic</a> by <a href="https://twitter.com/talkb1nary">@talkb1nary</a>
      </p>
      <p>&copy; <%= [2017, Time.now.year].uniq.join(', ') %> RailsTastic</p>
    </div>
  </footer>

  <%= console if params.key?(:console) %>
</body>
</html>
